.git-button{
    transition: background-image 0.5s ease, transform 0.3s ease;
}
.git-button:hover{
    background-color: rgb(24, 24, 26);
    transform: scale(1.05);
}
body {

    scrollbar-width: none;
    -ms-overflow-style: none; 
}

::-webkit-scrollbar {
    display: none;
  }


.glow-container {
  position: relative;
}

.bg-shape {
    width: 80vw;
    height: 450px;
    border-radius: 9999px;
    position: relative;
    filter: blur(600px);
    background-color: rgb(4, 8, 225);
}

.glow {
  position: absolute;
  width: 15vw;
  height: 130px;
  border-radius: 9999px;
  background: rgba(255, 255, 255, 0.5);
  filter: blur(150px);
  pointer-events: none;
  display: none;
  transform: translate(-50%, -50%);

}

.glow-container:hover .glow {
  display: block;
}