.border-input{
    border: 1px solid;
    border-color: rgb(39, 39, 42);
}
.border-input:active{
    border-color: rgb(229, 231, 235);
}
.height{
    min-height: 100vh;
}


@media (max-width: 400px) {
    .height{
        min-height: calc(100dvh-4rem);
    }
}